GOOGLE_API_KEY=your_google_gemini_api_key_here
DATABASE_URL=postgresql://gdg:gdg@localhost:5432/ecommerce
REDIS_URL=redis://localhost:6379
LANGSMITH_API_KEY='your_langsmith_api_key_here'
LANGSMITH_TRACING=true
LANGCHAIN_PROJECT=gdg-mum-langchain-project
